<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.mapper.ProjectMapper">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.st.model.ProjectModel">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="pro_name" property="projectName" />
		<result column="com_score" property="comScore" />
		<result column="stu_score" property="stuScore" />
		<result column="teacher_score" property="teacherScore" />
		<result column="grade" property="grade" />
		<result column="size" property="size" />
		<result column="remark" property="remark" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="userName" property="userName" />
	</resultMap>


	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="userId != null">
			and user_id = #{userId}
		</if>

		<if test="projectName != null and projectName != ''">
			and pro_name = #{projectName}
		</if>

		<if test="comScore != null">
			and com_score = #{comScore}
		</if>

		<if test="stuScore != null">
			and stu_score = #{stuScore}
		</if>
		<if test="teacherScore != null">
			and teacher_score = #{teacherScore}
		</if>
		<if test="grade != null and grade != ''">
			and grade = #{grade}
		</if>
		<if test="size != null and size != ''">
			and size = #{size}
		</if>
		<if test="remark != null and remark != ''">
			and remark = #{remark}
		</if>

	</sql>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="Object">
		insert into
		st_crm.t_project
		(user_id,pro_name,com_score,stu_score,teacher_score,grade,size,remark,create_time)
		values(#{userId},#{projectName},#{comScore},#{stuScore},#{teacherScore},#{grade},#{size},#{remark},now())
	</insert>

	<!-- 根据id删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from st_crm.t_project
		where id = #{id}
	</delete>

	<!-- 根据条件删除记录 -->
	<delete id="deleteModel" parameterType="Object">
		delete from st_crm.t_project
		<include refid="Example_Where_Clause" />
	</delete>


	<!-- 根据id，修改记录 -->
	<update id="update" parameterType="Object">
		update
		st_crm.t_project set
		user_id = #{userId},pro_name = #{projectName},com_score =
		#{comScore},stu_score = #{stuScore},teacher_score = #{teacherScore},
		grade=#{grade},size = #{size},remark = #{remark},update_time=now()
		where
		id=
		#{id}
	</update>


	<!-- 根据id，修改记录，只修改只不为空的字段 -->
	<update id="updateActive" parameterType="Object">
		update st_crm.t_project set
		<trim suffixOverrides=",">
			<if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="projectName != null and projectName != ''">
				pro_name = #{projectName},
			</if>

			<if test="comScore != null">
				com_score = #{comScore},
			</if>

			<if test="stuScore != null">
				stu_score = #{stuScore},
			</if>
			<if test="teacherScore != null">
				teacher_score = #{teacherScore},
			</if>
			<if test="grade != null and grade != ''">
				grade = #{grade},
			</if>
			<if test="size != null and size != ''">
				size = #{size},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			update_time=now()
		</trim>
		where id = #{id}
	</update>


	<!-- 根据id查询 -->
	<select id="selectId" resultMap="BaseResultMap" parameterType="Object">
		select
		*
		from st_crm.t_project where id = #{id}
	</select>

	<!-- 根据条件查询总数 -->
	<select id="selectCount" resultType="java.lang.Integer"
		parameterType="Object">
		select count(1) from st_crm.t_project
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 根据条件查询,带有分页，排序 -->
	<select id="selectModel" resultMap="BaseResultMap"
		parameterType="Object">
		select
		*
		from st_crm.t_project
		<include refid="Example_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if
			test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>

	<!-- 根据条件查询 -->
	<select id="selectAll" resultMap="BaseResultMap" parameterType="Object">
		select
		*,
		(select true_name from st_crm.t_user u where u.id=p.user_id)
		userName
		from st_crm.t_project p
		<include refid="Example_Where_Clause" />
	</select>

</mapper>